.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #161515;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
}

.modal-content h2 {
  margin-top: 0;
}

.item-list {
  margin-top: 10px;
}

.item {
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  background-color: #181717;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}
