/* src/index.css ou src/App.css */

/* Definir o fundo de toda a página como preto */
body {
  background-color: #000; /* Fundo preto */
  color: #fff; /* Cor do texto branca */
  margin: 0; /* Remover margem padrão */
  font-family: Arial, sans-serif; /* Defina a fonte que preferir */
}

* {
  box-sizing: border-box; /* Garantir que o padding e o border não afetem o layout */
}

/* Certifique-se de que os links e botões não sejam sublinhados */
a {
  text-decoration: none;
  color: inherit; /* Herda a cor do texto */
}

